/* .sidenav-content {
  width: auto;
  flex-direction: column;
  background-color: #FFCCBC;
  padding: 0 16px;
} */

.sidenav-container {
  width: auto;
  height: 100vh;
}

.sidenav-inside-container {
  width: auto;
  background: #e1d6d6aa;
}

.example-spacer {
  flex:1 1 auto;
}

.toolbar {
  background-color: #fbc6c3;
  display: flex;
  justify-content: space-between;
}

.item{
  display: flex;
  align-items: center;
}

.active-link {
  background-color: #e0e0e0; /* Cor de fundo para o item selecionado */
  font-weight: bold; /* Texto em negrito para o item selecionado */
  color: #1976d2; /* Cor do texto para o item selecionado */
}