<mat-toolbar class="toolbar" color="primary">
  <div class="toolbar-tittle">
    <button class="menu" mat-icon-button (click)="drawer.toggle()">
      <mat-icon class="toolbar-icon-tittle"> menu </mat-icon>
    </button>
    <span>MSR</span>
  </div>

  <button
    mat-icon-button
    (click)="logout()"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon
      class="logout-icon"
      aria-hidden="false"
      aria-label="logout icon"
      fontIcon="logout"
      [ariaSetSize]="50"
      color="warn"
    ></mat-icon>
  </button>
</mat-toolbar>


<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer #drawer opened="true" class="sidenav-inside-container" mode="side" [class.sidenav-collapsed]="!drawer"
    [class.sidenav-expanded]="drawer">

    <a mat-list-item routerLink="/dashboard" routerLinkActive="active-link">
      <div class="item">
        <mat-icon class="icon">dashboard</mat-icon>
        <span mat-button class="menu-text">Painel</span>
      </div>
    </a>

    <a mat-list-item routerLinkActive="active-link">
      <div [matMenuTriggerFor]="menuSale" mat-button class="item">
        <mat-icon class="icon"> credit_card </mat-icon>
        <span class="menu-text">Vendas</span>
        <mat-menu #menuSale="matMenu" yPosition="below">
          <button mat-menu-item routerLink="/open-sale">Abrir</button>
          <button mat-menu-item routerLink="sale/list">Consultar</button>
        </mat-menu>
      </div>
    </a>

    <a mat-list-item routerLinkActive="active-link">
      <div mat-button [matMenuTriggerFor]="menuProduct" class="item">
        <mat-icon class="icon"> inventory </mat-icon>
        <span class="menu-text">Produtos</span>
        <mat-menu #menuProduct="matMenu">
          <button mat-menu-item routerLink="/product/list">Consultar</button>
          <button mat-menu-item routerLink="/product/register">
            Cadastrar
          </button>
        </mat-menu>
      </div>
    </a>

    <a mat-list-item routerLinkActive="active-link">
      <div mat-button [matMenuTriggerFor]="menuClient" class="item">
        <mat-icon class="icon"> person </mat-icon>
        <span class="menu-text">Clientes</span>
        <mat-menu #menuClient="matMenu">
          <button mat-menu-item routerLink="/client/list">Consultar</button>
          <button mat-menu-item routerLink="/client/register">Cadastrar</button>
        </mat-menu>
      </div>
    </a>

    <a mat-list-item routerLinkActive="active-link">
      <div mat-button [matMenuTriggerFor]="menuEmployee" class="item">
        <mat-icon class="icon"> badge </mat-icon>
        <span class="menu-text">Funcionários</span>
        <mat-menu #menuEmployee="matMenu">
          <button mat-menu-item routerLink="employee/list">Consultar</button>
          <button mat-menu-item routerLink="employee/register">
            Cadastrar
          </button>
        </mat-menu>
      </div>
    </a>

    <a mat-list-item routerLinkActive="active-link">
      <div mat-button [matMenuTriggerFor]="menuInvoice" class="item">
        <mat-icon class="icon"> description </mat-icon>
        <span class="menu-text">Duplicatas</span>
        <mat-menu #menuInvoice="matMenu">
          <button mat-menu-item routerLink="invoice/list">Consultar</button>
          <button mat-menu-item routerLink="invoice/register">Cadastrar</button>
        </mat-menu>
      </div>
    </a>

    <a mat-list-item routerLinkActive="active-link">
      <div mat-button [matMenuTriggerFor]="menuCategory" class="item">
        <mat-icon class="icon"> label </mat-icon>
        <span class="menu-text">Categorias</span>
        <mat-menu #menuCategory="matMenu">
          <button mat-menu-item routerLink="category/list">Consultar</button>
          <button mat-menu-item routerLink="category/register">
            Cadastrar
          </button>
        </mat-menu>
      </div>
    </a>

    <a mat-list-item routerLinkActive="active-link">
      <div mat-button [matMenuTriggerFor]="menuSupplier" class="item">
        <mat-icon class="icon"> local_shipping </mat-icon>
        <span class="menu-text">Fornecedores</span>
        <mat-menu #menuSupplier="matMenu">
          <button mat-menu-item routerLink="supplier/list">Consultar</button>
          <button mat-menu-item routerLink="supplier/register">
            Cadastrar
          </button>
        </mat-menu>
      </div>
    </a>
  </mat-drawer>

    <mat-drawer-content class="mat-drawer-content">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
