.content {
  padding: 16px;
  transition: margin-left 0.3s ease;
  box-sizing: border-box;
}

/* Ajuste do layout da página */
.sidenav-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Isso ocupa a altura total da tela */
  padding-top: 64px; /* Considera a altura da toolbar fixa */
  overflow: hidden;
}

.sidenav-inside-container{
  padding-top: 64px;
}

/* Fixando a Toolbar */
.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: rgb(3, 9, 62);
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 15px;
}

/* .toolbar {
  background-color: #00468e;
  display: flex;
  justify-content: space-between;
} */

.sidenav-collapsed {
  width: 4vw;
  transition: width 0.3s ease;
}

.sidenav-expanded {
  width: 12vw;
  /* Largura quando expandida */
  transition: width 0.2s ease-out;
  /* Transição suave para a largura */
}

.sidenav-collapsed .menu-text {
  display: none;
  opacity: 0;
}

.sidenav-expanded .menu-text {
  display: inline-block;
  opacity: 1;
}

.sidenav-collapsed .icon {
  display: inline-block;
  opacity: 1;
}

/* Container geral do menu */
.sidenav-inside-container {
  background-color: rgb(3, 9, 62);
  /* Fundo escuro para o menu */
  color: white;
  /* Cor do texto */
  height: 100%;
}

/* Estilo das opções do menu */
.item {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  margin: 8px 0;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.item:hover {
  background-color: white;
  /* Fundo ao passar o mouse */
  color: rgb(3, 9, 62);
  /* Cor de destaque */
}

/* Ícones */
.icon {
  font-size: 24px;
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Texto */
.menu-text {
  font-size: 16px;
  font-weight: 500;
}

a {
  text-decoration: none;
}

/* Estilo para itens ativos */
.active-link .item {
  background-color: white;
  /* Fundo ao passar o mouse */
  color: rgb(3, 9, 62);
  /* Cor de destaque */
}

.active-link .icon {
  color: rgb(3, 9, 62);
  /* Ícones com mesma cor do texto ativo */
}

.active-link {
  font-weight: bold;
  text-decoration: none;
}

/* Submenus */
.mat-menu-item {
  color: white;
  padding: 8px 16px;
}

.toolbar-tittle {
  color: white;
  margin-left: 20px;
}

.toolbar-icon-tittle,
.logout-icon {
  color: white;
}

.mat-drawer-content {
  background-color: rgb(3, 9, 62);
}

/* button.mat-mdc-menu-item.mat-mdc-focus-indicator {
  width: 205px !important;
  text-align: center;
} */

.mat-drawer-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mat-drawer-content {
  flex: 1;
  /* overflow-y: auto; */
  /* Permite scroll apenas na área de conteúdo */
  display: flex;
  flex-direction: column;
}

mat-toolbar {
  z-index: 2;
  /* Certifique-se de que a toolbar fique sobre os conteúdos roláveis */
}

.main-content.loading {
  opacity: 0.3;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
}