<mat-toolbar class="toolbar" color="primary">
  <div>
    <button class="menu" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon> menu </mat-icon>
    </button>
    <span>MSR</span>
  </div>

  <button
    mat-icon-button
    class="example-icon favorite-icon"
    (click)="logout()"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon
      aria-hidden="false"
      aria-label="logout icon"
      fontIcon="logout"
      [ariaSetSize]="50"
      color="warn"
    ></mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    class="sidenav-inside-container"
    #sidenav
    [opened]="true"
    mode="side"
  >
    <mat-nav-list class="sidenav-list">
      <a mat-list-item>
        <div class="item">
          <mat-icon class="icon"> credit_card </mat-icon>
          
          <span mat-button [matMenuTriggerFor]="menuSale">Venda</span>
          <mat-menu #menuSale="matMenu">
            <button mat-menu-item (click)="openDialog()">Abrir</button>
            <button mat-menu-item routerLink="sale/list">Consultar</button>
          </mat-menu>
        </div>
      </a>

      <a mat-list-item>
        <div class="item">
          <mat-icon class="icon"> inventory </mat-icon>
          <span mat-button [matMenuTriggerFor]="menuProduct">Produto</span>
          <mat-menu #menuProduct="matMenu">
            <button mat-menu-item routerLink="/product/list">Consultar</button>
            <button mat-menu-item routerLink="/product/register">
              Cadastrar
            </button>
          </mat-menu>
        </div>
      </a>

      <a mat-list-item>
        <div class="item">
          <mat-icon class="icon"> person </mat-icon>
          <span mat-button [matMenuTriggerFor]="menuClient">Cliente</span>
          <mat-menu #menuClient="matMenu">
            <button mat-menu-item routerLink="/client/list">Consultar</button>
            <button mat-menu-item routerLink="/client/register">
              Cadastrar
            </button>
          </mat-menu>
        </div>
      </a>

      <a mat-list-item>
        <div class="item">
          <mat-icon class="icon"> badge </mat-icon>
          <span mat-button [matMenuTriggerFor]="menuEmployee">Funcionário</span>
          <mat-menu #menuEmployee="matMenu">
            <button mat-menu-item routerLink="employee/list">Consultar</button>
            <button mat-menu-item routerLink="employee/register">
              Cadastrar
            </button>
          </mat-menu>
        </div>
      </a>

      <a mat-list-item>
        <div class="item">
          <mat-icon class="icon"> description </mat-icon>
          <span mat-button [matMenuTriggerFor]="menuInvoice">Duplicata</span>
          <mat-menu #menuInvoice="matMenu">
            <button mat-menu-item routerLink="invoice/list">Consultar</button>
            <button mat-menu-item routerLink="invoice/register">
              Cadastrar
            </button>
          </mat-menu>
        </div>
      </a>

      <a mat-list-item>
        <div class="item">
          <mat-icon class="icon"> label </mat-icon>
          <span mat-button [matMenuTriggerFor]="menuCategory">Categoria</span>
          <mat-menu #menuCategory="matMenu">
            <button mat-menu-item routerLink="category/list">Consultar</button>
            <button mat-menu-item routerLink="category/register">
              Cadastrar
            </button>
          </mat-menu>
        </div>
      </a>

      <a mat-list-item>
        <div class="item">
          <mat-icon class="icon"> local_shipping </mat-icon>
          <span mat-button [matMenuTriggerFor]="menuSupplier">Fornecedor</span>
          <mat-menu #menuSupplier="matMenu">
            <button mat-menu-item routerLink="supplier/list">Consultar</button>
            <button mat-menu-item routerLink="supplier/register">
              Cadastrar
            </button>
          </mat-menu>
        </div>
      </a>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <!-- Conteúdo -->
    <router-outlet> </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
