/* .loader-container {
    position: fixed;
    top: 64px;
    width: calc(100% - 240px);
    height: calc(100vh - 64px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    pointer-events: none;
} */

.loader-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: auto;
    height: auto; 
  }