/* .client-form-register {
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
  width: 100vh;
}

.client-form-input {
  width: 100vh;
  margin-bottom: 15px;
}

.client-form-tree {
  display: flex;
  flex-direction: row;
  max-width: 100vh;
}

.client-form-name, .client-form-username, .client-form-password {
  margin-right: 10px;
}

.client-form-address {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.client-form-address-street, .client-form-address-number, .client-form-address-complement {
  margin-right: 10px;
}

.client-div-button {
  display: flex;
  justify-content: flex-end;
}

.client-button {
  background-color: #fbd0c3;
} */

.form-input {
  width: 100%;
}

.form-input-50 {
  width: 50%;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  /* Espaçamento horizontal entre as divs */
}

.div1,
.div2 {
  flex: 1;
  /* Para que as divs ocupem a mesma largura */
  min-width: 300px;
  /* Garantir que não fiquem muito estreitas */
}

@media (max-width: 768px) {
  form {
    flex-direction: column;
    /* Em telas menores, as divs ficarão empilhadas */
  }

  .div1,
  .div2 {
    min-width: unset;
    /* Remove a largura mínima em telas pequenas */
  }
}