.form-input {
  width: 100%;
}

.form-input-50 {
  flex: 1 1 calc(50% - 16px); /* Cada campo ocupa 50% do container, descontando o gap */
  min-width: 200px;
}

.teste1 {
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.div1,
.div2, .div3 {
  flex: 1 1 calc(50% - 16px); /* Dividindo igualmente */
  min-width: 300px;
  width: 100%;
}

@media (max-width: 768px) {
  form {
    flex-direction: column;
    /* Em telas menores, as divs ficarão empilhadas */
  }

  .div1,
  .div2 {
    min-width: unset;
    /* Remove a largura mínima em telas pequenas */
  }
}

.container-top {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  width: 100%;
}






/* Espaçamento entre os blocos de inputs */
.address-line {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;
  width: 100%;
  flex: 1;
}

/* CEP, Cidade e Estado na primeira linha (33% de largura cada um) */
.address-city, .address-state, .address-postalCode {
  flex: 1 1 calc(33% - 16px); /* Cada campo ocupa 33% menos o gap */
}

.address-street, .address-number, .address-complement {
  flex: 1 1 calc(33% - 16px); /* Cada campo ocupa 33% menos o gap */
}

/* Responsividade */
@media (max-width: 768px) {
  .address-line {
    flex-direction: column;
  }

  /* Ajuste para telas menores, cada campo ocupa 100% da largura */
  .address-city, .address-state, .address-postalCode,
  .address-street, .address-number, .address-complement {
    flex: 1 1 100%;
  }
}



textarea {
  height: auto;
  /* resize: none;  */
}
