.div1,
.div2 {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 16px;
}

.product-form-input {
    width: 100%;
}

.product-div-button {
    margin-top: 16px;
    text-align: right;
    display: flex;
    align-items: self-end;
    margin-bottom: 17px;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.div1,
.div2 {
    flex: 1;
    /* Para que as divs ocupem a mesma largura */
    min-width: 300px;
    /* Garantir que não fiquem muito estreitas */
}

@media (max-width: 768px) {
    form {
        flex-direction: column;
        /* Em telas menores, as divs ficarão empilhadas */
    }

    .div1,
    .div2 {
        min-width: unset;
        /* Remove a largura mínima em telas pequenas */
    }
}