.mat-expansion-panel-header-title {
    flex-basis: auto !important;
}

.icon {
    margin: 10px !important;
}

.invoice-infos {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.col1 {
    padding-right: 15px;
}

.col2 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.installments-list {
    margin-top: 10px;
}

.installment-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 8px;
} 

.icon-paid {
    color: green;
}

.icon-pending {
    color: rgb(238 153 9);
}

.mat-card-content {
    padding: 15px;
}

.sale-filter {
    width: 30%;
  }