<mat-card class="">
  <mat-card-header>
    <mat-card-title>Consultar duplicatas</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <br />

  <mat-card-content>

    <mat-accordion class="example-headers-align" multi *ngIf="filteredInvoices.length > 0">
      <mat-expansion-panel *ngFor="let invoice of getPagedInvoices()">
        
         <mat-expansion-panel-header>
          <mat-panel-title>
            {{ invoice.supplierId ? invoice.supplierId.name : invoice.description }}
          </mat-panel-title>
        
          <mat-panel-description>
            {{ invoice.totalAmount | currency : "BRL" : "symbol" : "1.2-2" }}
          </mat-panel-description>
        
          <mat-panel-description>
            {{ invoice.dueDate | date : "dd/MM/yyyy" }}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="client-infos">
          <div class="col col1">
            <div *ngIf="invoice.description">
              <span class="font-bold">Descrição:</span> {{ invoice.description }}
            </div>
            <div>
              <span class="font-bold">Código:</span> {{ invoice.code }}
            </div>
            <div *ngIf="invoice.supplierId">
              <span class="font-bold">Fornecedor:</span> {{ invoice.supplierId ? invoice.supplierId.name : "" }}
            </div>
            <div *ngIf="invoice.installments?.length">
              <span class="font-bold">Quantidade de parcelas:</span> {{ invoice.installments?.length }}
              <br>
              <span class="font-bold">
                Valor e vencimento de cada parcela:
              </span>
              <p *ngFor="let installment of invoice.installments">

                {{
                installment
                ? (installment.amount
                | currency : "BRL" : "symbol" : "1.2-2")
                : ""
                }}

                -
                <b>
                  {{
                  installment
                  ? (installment.dueDate | date : "dd/MM/yyyy")
                  : ""
                  }}

                </b>
              </p>
            </div>

            <div *ngIf="invoice.notes">
              <span class="font-bold">Notas:</span>
              {{ invoice.notes }}
            </div>

          </div>

          <div class="col col2">

            <div class="div-button m-t-10">
              <button mat-raised-button class="icon-button m-r-10" type="button" (click)="editInvoice(invoice)">
                
                <mat-icon class="icon"> edit </mat-icon>
              </button>

              <button mat-raised-button class="icon-button" type="button" (click)="openModalToConfirmDelete(invoice)">
                <mat-icon class="icon"> delete </mat-icon>
              </button>
            </div>

          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-paginator class="m-t-10" [length]="filteredInvoices.length" [pageSizeOptions]="[20, 50, 100]"
      [pageSize]="pageSize" (page)="onPageChange($event)">
    </mat-paginator>
  </mat-card-content>
</mat-card>