<mat-card>
  <mat-card-header>
    <mat-card-title>Consultar produtos</mat-card-title>
  </mat-card-header>

  <mat-card-content class="m-t-3">
    <mat-form-field appearance="outline" class="search-input">
      <mat-label>Buscar fornecedor</mat-label>
      <input matInput (input)="applyFilter($event)" placeholder="Digite o nome ou código do fornecedor.." />
      <mat-icon matSuffix class="icon">search</mat-icon>
    </mat-form-field>

    <div class="product-list-container">
      <mat-table [dataSource]="dataSource" class="product-table" matSort>
        <ng-container matColumnDef="code">
          <mat-header-cell class="small-column" *matHeaderCellDef mat-sort-header>Código</mat-header-cell>
          <mat-cell class="small-column" *matCellDef="let supplier">{{
            supplier.code
            }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Nome</mat-header-cell>
          <mat-cell *matCellDef="let supplier">{{ supplier.name }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="cnpj">
          <mat-header-cell *matHeaderCellDef mat-sort-header>CNPJ</mat-header-cell>
          <mat-cell *matCellDef="let supplier">{{
            supplier.cnpj
            }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="phone">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Telefone</mat-header-cell>
          <mat-cell *matCellDef="let supplier">{{
            supplier.phone
            }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
          <mat-cell *matCellDef="let supplier">{{
            supplier.email
            }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="address">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Endereço</mat-header-cell>
          <mat-cell *matCellDef="let supplier">{{
            supplier.address.street
            }}, {{ supplier.address.number }},
            {{ supplier.address.complement ? supplier.address.complement + ', ' : '' }}
            {{ supplier.address.city }} - {{ supplier.address.state }}, {{ supplier.address.postalCode }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell class="small-column" *matHeaderCellDef mat-sort-header></mat-header-cell>
          <mat-cell class="small-column" *matCellDef="let supplier">
            <button mat-icon-button class="icon-button" type="button" (click)="nivagateToEditSupplier(supplier)">
              <mat-icon class="icon"> edit </mat-icon>
            </button>

            <button mat-icon-button class="icon-button" type="button" (click)="openModalToConfirmDelete(supplier)">
              <mat-icon class="icon"> delete </mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
      <mat-paginator [length]="supplierList.length" [pageSize]="20" [pageSizeOptions]="[10, 20]"></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>





<!-- <div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef> Code </th>
      <td mat-cell *matCellDef="let element"> {{element.code}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="cnpj">
      <th mat-header-cell *matHeaderCellDef> CNPJ </th>
      <td mat-cell *matCellDef="let element"> {{element.cnpj}} </td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef> Phone </th>
      <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>


    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> Address </th>
      <td mat-cell *matCellDef="let element">
        {{element.address.street}}, {{element.address.number}}, 
        {{element.address.complement ? element.address.complement + ', ' : ''}}
        {{element.address.city}} - {{element.address.state}}, {{element.address.postalCode}}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div> -->