/* Container principal */
.list-container {
  max-width: 100%;
  padding: 20px;
  background-color: #fdfdfd;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.min-height-container {
  min-height: 68%;
}

/* Estilização da tabela */
.product-table,
table.mat-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
}

/* Cabeçalho da tabela */
.product-table th.mat-header-cell,
.mat-header-cell {
  background-color: #f5f5f5;
  font-weight: bold;
  color: #333;
  text-align: left;
  padding: 12px 8px;
  font-size: 14px;
  border-bottom: 2px solid #ddd;
}

/* Células da tabela */
.product-table td.mat-cell,
.mat-cell {
  padding: 10px 8px;
  font-size: 14px;
  color: #555;
  border-bottom: 1px solid #eee;
}

/* Linhas da tabela */
.mat-row {
  transition: background-color 0.3s;
}

/* Linha de hover */
.product-table tr:hover,
.mat-row:hover {
  background-color: #f9f9f9;
  cursor: pointer;
}

/* Botão de remover produto */
button.mat-icon-button {
  color: #e53935;
  transition: transform 0.2s ease-in-out;
}

button.mat-icon-button:hover {
  transform: scale(1.2);
}

.sale-summary {
  display: flex;
  margin-top: 15px;
}

.input-width {
  width: 65%;
}

.sale-summary-total {
  margin-left: 3%;
  width: 30vw;
}

.sale-details {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

/* .sale-installments-client{
  justify-content: normal !important;
} */

/* .select-installments{
  margin-left: 25%;
} */

.payment-method-group {
  display: flex;
  flex-direction: column;
}

.payment-method-row {
  display: flex;
  /* justify-content: space-between; */
  margin-bottom: 10px;
}

.sale-products-table {
  /* margin-right: 10%; */
  width: 50vw;
}

.title-margin {
  margin-bottom: 10px;
}

.action-buttons {
  display: flex;
  justify-content: end;
  margin-top: 15px;
}

/* .payment-details {
  margin-left: 25% !important;
} */

.m-l-25 {
  margin-left: 25% !important;
}

.product-form-input {
  width: 50%;
}

.confirm-button {
  margin-right: 15px;
}

.client-summary {
  display: flex;
  flex-direction: row;
}

.due-dates{
  margin-left: 25%;
}