<mat-grid-list
  class="spaced-grid-list"
  cols="2"
  rowHeight="100px"
  gutterSize="15px"
>
  <mat-grid-tile [colspan]="1" [rowspan]="4">
    <div class="full-width-button sale-list">
      <h6>Resumo da venda</h6>

      <table class="sales-table">
        <thead>
      <tr>
        <th>Código</th>
        <th>Produto</th>
        <th>Quantidade</th>
        <th>Valor Unitário</th>
        <th>Valor Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of sale.products">
        <td>{{ product.code }}</td>
        <td>{{ product.name }}</td>
        <td>{{ sale.quantity }}</td>
        <td>{{ product.price | currency:'BRL' }}</td>
        <td>{{ (product.price * sale.quantity) | currency:'BRL' }}</td>
      </tr>
      <tr>
        <td colspan="4" class="total-label">Valor Total da Venda</td>
        <td>{{ sale.totalPrice | currency:'BRL' }}</td>
      </tr>
    </tbody>
      </table>
      <button mat-button class="view-all-button">Ver todas as vendas</button>
    </div>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="4">
    <div class="full-width-button sale-list">
      <h6>Contas a pagar</h6>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> 450,00 - 30/09/24 </mat-panel-title>
            <mat-panel-description>
              Fornecedor Fulano de tal
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Parcela 2 de 5</p>
        </mat-expansion-panel>
      </mat-accordion>
      <!-- <table class="sales-table">
        <thead>
          <tr>
            <th>Código</th>
            <th>Total</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>101</td>
            <td>R$ 500,00</td>
            <td>Pendente</td>
          </tr>
          <tr>
            <td>102</td>
            <td>R$ 750,00</td>
            <td>Paga</td>
          </tr>
          <tr>
            <td>103</td>
            <td>R$ 300,00</td>
            <td>Pendente</td>
          </tr>
        </tbody>
      </table> -->
      <button mat-button class="view-all-button">Ver todas as contas</button>
    </div>
  </mat-grid-tile>
</mat-grid-list>
