<mat-card>
  <mat-card-header>
    <mat-card-title>Fechar venda</mat-card-title>
  </mat-card-header>
  <br />

  <mat-card-content>
    <mat-card-title>Produtos incluídos na venda</mat-card-title>

    <div class="sale-summary">
      <div class="product-list-container">
        <table mat-table [dataSource]="sale.products" class="mat-elevation-z8">
          <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef>Code</th>
            <td mat-cell *matCellDef="let element">{{ element.code }}</td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Nome</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>

          <ng-container matColumnDef="unitPrice">
            <th mat-header-cell *matHeaderCellDef>Valor unitário</th>
            <td mat-cell *matCellDef="let element">
              {{ element.unitPrice | currency }}
            </td>
          </ng-container>

          <ng-container matColumnDef="totalPrice">
            <th mat-header-cell *matHeaderCellDef>Valor total por item</th>
            <td mat-cell *matCellDef="let element">
              {{ element.totalPrice | currency }}
            </td>
          </ng-container>

          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef>Quantidade</th>
            <td mat-cell *matCellDef="let product">{{ product.quantity }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>

      <div class="sale-summary-end">
        <h5>Resumo da Venda</h5>
        <p>Subtotal: {{ sale.total | currency }}</p>
        <p>Descontos: 0,00</p>
        <p>Total: {{ sale.total | currency }}</p>
      </div>
    </div>

    <div class="sale-details">
      <div class="payment-methods">
        <mat-card-title>Forma de pagamento</mat-card-title>

        <mat-radio-group
          [(ngModel)]="selectedPaymentMethod"
          class="payment-method-group"
        >
          <div class="payment-method-row">
            <mat-radio-button value="cash">Dinheiro</mat-radio-button>
            <mat-radio-button value="card-debit"
              >Cartão de débito</mat-radio-button
            >
            <mat-radio-button value="card-credit"
              >Cartão de crédito</mat-radio-button
            >
          </div>
          <div class="payment-method-row">
            <mat-radio-button value="pix">Pix</mat-radio-button>
            <mat-radio-button value="transfer">Transferência</mat-radio-button>
            <mat-radio-button value="other">Outro</mat-radio-button>
          </div>
        </mat-radio-group>

        <!-- <mat-radio-group [(ngModel)]="selectedPaymentMethod">
          <mat-radio-button value="cash">Dinheiro</mat-radio-button>
          <mat-radio-button value="card">Cartão de debito</mat-radio-button>
          <mat-radio-button value="card">Cartão de crédito</mat-radio-button>
          <mat-radio-button value="card">Pix</mat-radio-button>
          <mat-radio-button value="card">Transferência</mat-radio-button>
          <mat-radio-button value="other">Outro</mat-radio-button>
        </mat-radio-group> -->
      </div>

      <div class="payment-details" *ngIf="selectedPaymentMethod == 'cash'">
        <h5>Pagamento</h5>
        <mat-form-field>
          <mat-label>Valor Recebido</mat-label>
          <input
            matInput
            type="number"
            [(ngModel)]="amountReceived"
            (input)="calculateChange()"
          />
        </mat-form-field>
        <p>Troco: {{ change | currency }}</p>
      </div>

      <div class="action-buttons">
        <button mat-raised-button color="primary" (click)="confirmSale()">
          Confirmar Venda
        </button>
        <button mat-raised-button color="warn" (click)="cancelSale()">
          Cancelar
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
