.close-sale-container {
  padding: 20px;
}

.sale-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.sale-products-summary, .sale-details {
  flex: 1;
  min-width: 300px;
}

.sale-header, .sale-products, .sale-summary, .payment-methods, .payment-details, .action-buttons {
  margin-bottom: 20px;
}

.sale-summary{
  display: flex; 
}

.sale-header p, .sale-summary p {
  margin: 5px 0;
}

.mat-table {
  width: 100%;
  margin-bottom: 20px;
}

.action-buttons button {
  margin-right: 10px;
}

.sale-products-summary,
.sale-details {
  background-color: #fff; /* Cor de fundo branca */
  border-radius: 10px; /* Bordas arredondadas */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra suave */
  padding: 20px; /* Espaçamento interno */
  margin: 15px 0; /* Espaçamento externo */
}

.sale-products-summary {
  /* Específico para o primeiro card */
  display: flex; /* Layout flexível para alinhamento */
  flex-direction: column; /* Colunas para organizar o conteúdo */
  gap: 15px; /* Espaçamento entre elementos internos */
}

.sale-details {
  /* Específico para o segundo card */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Estilo para os títulos dentro dos cards */
/* .sale-products-summary h3,
.sale-details h3 {
  font-size: 1.25rem;
  color: #333; /* Cor do texto */
  /* margin-bottom: 10px; Espaçamento abaixo do título */
/* }  */
