<mat-card>
  <mat-card-header>
    <mat-card-title>Consultar produtos</mat-card-title>
  </mat-card-header>

  <mat-card-content class="m-t-3">
    <mat-form-field appearance="outline" class="search-input">
      <mat-label>Buscar Produto</mat-label>
      <input
        matInput
        (input)="applyFilter($event)"
        placeholder="Digite o nome ou código do produto.."
      />
      <mat-icon matSuffix class="icon">search</mat-icon>
    </mat-form-field>

    <div class="product-list-container">
      <mat-table [dataSource]="dataSource" class="product-table" matSort>
        <ng-container matColumnDef="code">
          <mat-header-cell
            class="small-column"
            *matHeaderCellDef
            mat-sort-header
            >Código</mat-header-cell
          >
          <mat-cell class="small-column" *matCellDef="let product">{{
            product.code
          }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Nome</mat-header-cell
          >
          <mat-cell *matCellDef="let product">{{ product.name }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="unitPrice">
          <mat-header-cell
            class="small-column"
            *matHeaderCellDef
            mat-sort-header
            >Preço</mat-header-cell
          >
          <mat-cell class="small-column" *matCellDef="let product">{{
            product.price | currency : "BRL" : "symbol" : "1.2-2"
          }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="stock">
          <mat-header-cell
            class="small-column"
            *matHeaderCellDef
            mat-sort-header
            >Estoque</mat-header-cell
          >
          <mat-cell class="small-column" *matCellDef="let product">{{
            product.stock
          }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="supplierId">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Fornecedor</mat-header-cell
          >
          <mat-cell *matCellDef="let product">{{
            product.supplierId ? product.supplierId.name : "Não informado"
          }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="categories">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Categorias</mat-header-cell
          >
          <mat-cell *matCellDef="let product">
            {{ product.categories && product.categories.length > 0 ? getCategoriesName(product) : "Não informado" }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="edit">
          <mat-header-cell
            class="small-column"
            *matHeaderCellDef
            mat-sort-header
          ></mat-header-cell>
          <mat-cell class="small-column" *matCellDef="let product">
            <button
              mat-icon-button
              class="icon-button"
              type="button"
              (click)="editProduct(product)"
            >
              <mat-icon class="icon"> edit </mat-icon>
            </button>

            <button
              mat-icon-button
              class="icon-button"
              type="button"
              (click)="openModalToConfirmDelete(product)"
            >
              <mat-icon class="icon"> delete </mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
      <mat-paginator
        [length]="productList.length"
        [pageSize]="20"
        [pageSizeOptions]="[10, 20]"
      ></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
