.client-infos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 30%);
    justify-content: end;
}

.col {
    flex: 1;
    min-width: 250px;
}

.col div {
    margin-bottom: 10px;
}

.col strong {
    font-weight: bold;
}

.col1,
.col2,
.col3 {
    display: flex;
    flex-direction: column;
}

.col1 div,
.col2 div,
.col3 div {
    padding: 5px 0;
}

.mat-expansion-panel-header-description {
    flex-grow: 1 !important;
    color: #1a1b1f !important;
}

.icon {
    margin: 0px !important;
}

.installments-section {
    padding: 16px;
    background-color: #fff8e1;
    border: 1px solid #ffecb3;
    border-radius: 8px;
}

.installments-section h3 {
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: 500;
    color: #ff9800;
}

.installments-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.installment-card {
    flex: 1 1 200px;
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    border-left: 6px solid #ff9800;
    border-radius: 8px;
    padding: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    transition: background 0.3s;
    display: flex;
    flex-direction: column;
}

.installment-card.paid {
    border-left-color: #81c784;
    background-color: #f1f8e9;
}

.paid-text {
    color: #388e3c;
    font-weight: 500;
    margin-top: 8px;
}


.toggle-infos-button {
    text-align: right;
    margin-bottom: 10px;
}




.no-installments-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.success-icon {
    color: #4caf50;
    font-size: 25px;
    margin-bottom: 1rem;
}

.payment-checkbox {
    display: block;
    margin-bottom: 10px;
}

.installment-card.overdue {
    border-left-color: #f44336;
    /* Vermelho */
    background-color: #ffebee;
    /* Vermelho claro */
}

.installment-card.overdue p {
    color: #b71c1c;
    /* Texto mais escuro */
}



.overdue {
    flex: 1 1 200px;
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    border-left: 6px solid #c80404;
    border-radius: 8px;
    padding: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    transition: background 0.3s;
    display: flex;
    flex-direction: column;
}

.installments-section-overdue {
    padding: 16px;
    background-color: #e86b6b2e !important;
    border: 1px solid #ffecb3;
    border-radius: 8px;
}

.installments-section-overdue h3 {
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: 500;
    color: #a20b0b;
}