<mat-card class="">
  <mat-card-header>
    <mat-card-title>Consultar clientes</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <br />

  <mat-card-content>
    <mat-form-field appearance="outline" class="search-input">
      <mat-label>Buscar cliente</mat-label>
      <input matInput (input)="applyFilter($event)" placeholder="Digite o nome ou código do cliente.." />
      <mat-icon matSuffix class="icon">search</mat-icon>
    </mat-form-field>

    <mat-accordion class="example-headers-align" multi *ngIf="filteredClients.length > 0">
      <mat-expansion-panel *ngFor="let client of getPagedClients()" (opened)="getSalesByClient(client._id ?? '')">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ client.name }}
          </mat-panel-title>

          <mat-panel-description>
            {{ client.cpf }}
          </mat-panel-description>

          <mat-panel-description>
            {{ client.birthDate | date : "dd/MM/yyyy" }}
          </mat-panel-description>

          <mat-panel-description>
            {{ client.phone }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <hr />
        <br />

        <div class="no-installments-container" *ngIf="(pendingInstallments[client._id ?? '']?.length ?? 0) === 0">
          <mat-icon class="success-icon">check_circle</mat-icon>
          <h5>Sem parcelas pendentes</h5>
          <p>Este cliente está em dia com todos os pagamentos.</p>
        </div>

        <div class="installments-section-overdue" *ngIf="(overdueInstallments[client._id ?? '']?.length ?? 0) > 0">
          <h3>Parcelas Atrasadas</h3>
          <div class="installments-grid">
            <div class="overdue installment-card-overdue" *ngFor="let installment of overdueInstallments[client._id ?? '']; let i = index" class="overdue">
              <p><strong>Parcela:</strong> {{ i+1 }}</p>
              <p><strong>Valor:</strong> {{ installment.amount | currency: 'BRL' }}</p>
              <p><strong>Vencimento:</strong> {{ installment.dueDate | date: 'dd/MM/yyyy' }}</p>

              <button *ngIf="installment.status !== 'paid'" mat-raised-button color="primary"
                (click)="initiatePayment(client._id ?? '', installment)" class="pay-button">
                Pagar
              </button>
            </div>
          </div>
        </div>

        <div class="installments-section m-t-10" *ngIf="(pendingInstallments[client._id ?? '']?.length ?? 0) > 0">
          <h3>Parcelas Pendentes</h3>
          <div class="installments-grid">
            <div class="installment-card"
              *ngFor="let installment of pendingInstallments[client._id ?? '']; let i = index">

              <p><strong>Parcela:</strong> {{ i+1 }}</p>
              <p><strong>Valor:</strong> {{ installment.amount | currency: 'BRL' }}</p>
              <p><strong>Vencimento:</strong> {{ installment.dueDate | date: 'dd/MM/yyyy' }}</p>

              <button *ngIf="installment.status !== 'paid'" mat-raised-button color="primary"
                (click)="initiatePayment(client._id ?? '', installment)" class="pay-button">
                Pagar
              </button>
            </div>
          </div>
        </div>

        <div class="toggle-infos-button m-t-10">
          <button mat-raised-button color="primary" (click)="toggleClientInfos(client._id ?? '')">
            <mat-icon class="toggle-icon" style="margin-right: 4px;">
              {{ isClientInfosExpanded(client._id ?? '') ? 'expand_less' : 'expand_more' }}
            </mat-icon>
            {{ isClientInfosExpanded(client._id ?? '') ? 'Ocultar informações do cliente' : 'Mostrar informações do cliente' }}
          </button>
        </div>

        <div class="client-infos m-t-10" *ngIf="isClientInfosExpanded(client._id ?? '')">
          <div class="col col1">
            <div><span class="font-bold">Nome:</span> {{ client.name }}</div>
            <div><span class="font-bold">Código:</span> {{ client.code }}</div>
            <div>
              <span class="font-bold">Data nascimento:</span> {{ client.birthDate | date : "dd/MM/yyyy" }}
            </div>
            <div><span class="font-bold">CPF:</span> {{ client.cpf }}</div>
            <div><span class="font-bold">RG:</span> {{ client.rg }}</div>

            <div><span class="font-bold">Telefone:</span> {{ client.phone }}</div>
            <div><span class="font-bold" [ngClass]="{ disabled: !client.email }">Email:</span> {{ client.email }}</div>
          </div>

          <div class="col col2">
            <div>
              <span class="font-bold">Endereço:</span> {{ client.address.street }},
              {{ client.address.number }}, {{ client.address.city }},
              {{ client.address.state }}
            </div>
            <div><span class="font-bold" [ngClass]="{ disabled: !client.fathersName }">Nome do pai:</span> {{
              client.fathersName }}</div>
            <div><span class="font-bold" [ngClass]="{ disabled: !client.mothersName }">Nome da mãe:</span> {{
              client.mothersName }}</div>
            <div><span class="font-bold" [ngClass]="{ disabled: !client.peopleAuthorized }">Pessoas autorizadas:</span>
              {{ client.peopleAuthorized }}</div>
            <div>
              <span class="font-bold">Limite de compra:</span>
              {{ client.purchaseLimit | currency : "BRL" : "symbol" : "1.2-2" }}
            </div>
            <div><span class="font-bold" [ngClass]="{ disabled: !client.notes }">Notas:</span> {{ client.notes }}</div>
          </div>
          <div class="col col3">
            <p [ngClass]="{ disabled: !client.timesCharged }">
              <span class="font-bold">Vezes cobrado:</span> {{ client.timesCharged }}
            </p>
            <p [ngClass]="{ disabled: !client.spcInclusionDate }">
              <span class="font-bold">Data de inclusão no SPC:</span>
              {{ client.spcInclusionDate | date : "dd/MM/yyyy" }}
            </p>
            <p [ngClass]="{ disabled: !client.spcExclusionDate }">
              <span class="font-bold">Data de exclusão do SPC:</span>
              {{ client.spcExclusionDate | date : "dd/MM/yyyy" }}
            </p>
            <p [ngClass]="{ disabled: !client.spcExclusionReason }">
              <span class="font-bold">Motivo da exclusão do SPC:</span> {{ client.spcExclusionReason }}
            </p>
          </div>

          <div class="div-button m-t-10">
            <button mat-raised-button class="icon-button m-r-10" type="button" (click)="editClient(client)">
              <mat-icon class="icon"> edit </mat-icon>
            </button>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-paginator class="m-t-10" [length]="filteredClients.length" [pageSizeOptions]="[20, 50, 100]"
      [pageSize]="pageSize" (page)="onPageChange($event)">
    </mat-paginator>
  </mat-card-content>
</mat-card>