<mat-toolbar class="toolbar" color="primary">
  <span class="toolbar-tittle">MSR</span>
  <!-- <span class="example-spacer"></span>
  <a mat-list-item routerLink="/register">
    <div class="item">
      <mat-icon class="icon"> person_add_alt</mat-icon>
      <span> Cadastrar </span>
    </div>
  </a> -->
</mat-toolbar>

<div class="teste">
  <mat-card class="login-card" appearance="outlined">
    <mat-card-header class="login-title">
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-card-content class="login-form">
        <mat-form-field appearance="outline" class="product-form-input">
          <mat-label>Usuário</mat-label>
          <input
            matInput
            formControlName="username"
            required
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Senha</mat-label>
          <input
            formControlName="password"
            matInput
            [type]="hidePassword ? 'password' : 'text'"
          />
          <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="togglePasswordVisibility($event)"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword"
          >
            <mat-icon>{{ hidePassword ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
      </mat-card-content>

      <div class="login-div-button">
        <button
          class="login-button"
          type="submit"
          mat-flat-button
        >
          Entrar
        </button>
      </div>
    </form>
  </mat-card>
</div>
