.fade-in {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 0.9s ease-out forwards;
  animation-delay: 0.3s;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.toolbar {
  background-color: #03093e;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.toolbar-title {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.login-container {
  height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #fff, #fbe9e7); /* fundo clarinho */
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  background-color: white;
}

.login-title {
  text-align: center;
  margin-bottom: 20px;
  flex-direction: column;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-input {
  width: 100%;
}

.login-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.login-button {
  width: 100%;
  border-radius: 25px;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
}


.login-title {
  display: flex;
  justify-content: center;
}

.login-title-content {
  display: flex;
  align-items: center;
  gap: 10px; /* espaçamento entre ícone e texto */
}

.login-title-icon {
  color: rgb(48, 62, 185); /* azul marcante */
  font-size: 32px;         /* um pouco maior para se destacar */
}

.login-subtitle {
  margin-top: 4px;
  font-size: 14px;
  color: #666;
  text-align: center;
}