<mat-card class="product-form-register">
  <mat-card-header>
    <mat-card-title>Cadastro de Produto</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="saleForm" (ngSubmit)="onSubmit()">
      <!-- Produtos -->
      <!-- <mat-form-field class="product-form-input">
        <mat-label>Produtos</mat-label>
        <mat-select [formControl]="categoriesControl" multiple>
          <mat-option
            *ngFor="let category of categoryList"
            [value]="category._id"
            >{{ category.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="product-form-input">
        <mat-label>Cliente</mat-label>
        <mat-select [formControl]="supplierControl">
          <mat-option *ngFor="let supplier of supplierList" [value]="supplier._id">{{ supplier.name }}</mat-option>
        </mat-select>
      </mat-form-field> -->

      <!-- Descrição -->
      <mat-form-field appearance="outline" class="product-form-input">
        <mat-label>Descrição</mat-label>
        <textarea
          matInput
          placeholder="Descrição"
          formControlName="description"
          name="description"
        ></textarea>
      </mat-form-field>

      <!-- Preço -->
      <mat-form-field appearance="outline" class="product-form-input">
        <mat-label>Preço</mat-label>
        <input
          matInput
          formControlName="price"
          type="number"
          name="price"
          required
        />
      </mat-form-field>

      <!-- Quantidade em Estoque -->
      <mat-form-field appearance="outline" class="product-form-input">
        <mat-label>Quantidade em Estoque</mat-label>
        <input
          matInput
          formControlName="stock"
          type="number"
          name="stock"
          required
        />
      </mat-form-field>

      <div class="product-div-button">
        <button mat-flat-button color="primary" type="submit">Cadastrar</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
