<mat-card class="product-form-register">
  <mat-card-header>
    <mat-card-title>Abrir venda</mat-card-title>
    <mat-card-subtitle *ngIf="usernameShared"
      >Olá, {{ usernameShared }}</mat-card-subtitle
    >
  </mat-card-header>
  <br />

  <mat-card-content>
    <mat-form-field appearance="outline" class="product-form-input">
      <mat-label>Buscar Produto</mat-label>
      <input
        matInput
        (input)="applyFilter($event)"
        placeholder="Nome ou Código do Produto"
      />
    </mat-form-field>

    <li role="list">
      <mat-list-item *ngFor="let product of filteredProducts">
        {{ product.code }} - {{ product.name }}
        <button mat-button (click)="addProduct(product)">Selecionar</button>
      </mat-list-item>
    </li>

    <form [formGroup]="saleForm" (ngSubmit)="onSubmit()">
      <section class="example-container mat-elevation-z8" tabindex="0">
        <table mat-table [dataSource]="products.value">
          <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef>Código</th>
            <td mat-cell *matCellDef="let product">
              {{ product.code }}
            </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Nome</th>
            <td mat-cell *matCellDef="let product">
              {{ product.name }}
            </td>
          </ng-container>

          <ng-container matColumnDef="itensQuantity">
            <th mat-header-cell *matHeaderCellDef>Quantidade itens</th>
            <td mat-cell *matCellDef="let product; let i = index">
              <input matInput (input)="updateUnitQuantity(i, $event)" type="number" formControlName="itensQuantity" />
            </td>
          </ng-container>

          <ng-container matColumnDef="unitPrice">
            <th mat-header-cell *matHeaderCellDef>Valor unitário</th>
            <td mat-cell *matCellDef="let product">
              {{ product.unitPrice | currency }}
            </td>
          </ng-container>

          <ng-container matColumnDef="totalPrice">
            <th mat-header-cell *matHeaderCellDef>Valor total</th>
            <td mat-cell *matCellDef="let product">
              {{ product.totalPrice | currency }}
            </td>
          </ng-container>

          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef></th>
            <td
              mat-cell
              *matCellDef="let product; let i = index"
              title="Remover produto"
            >
              <button mat-icon-button type="button" (click)="removeProduct(i)">
                <mat-icon class="icon"> delete </mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </section>

      <p>Quantidade total de produtos da venda: {{itensQuantity}} </p>
      <h2>Total = {{ total != 0 ? total : (0 | currency) }}</h2>

      <div class="product-div-button">
        <button mat-flat-button color="primary" type="submit">Salvar</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
