.container-top {
  display: flex;
  flex-wrap: wrap;
  column-gap: 32px;
  width: 100%;
}

.div1,
.div2 {
  flex: 1 1 calc(50% - 16px);
  /* Dividindo igualmente */
  min-width: 300px;
  width: 100%;
}

@media (max-width: 768px) {
  form {
    flex-direction: column;
    /* Em telas menores, as divs ficarão empilhadas */
  }

  .div1,
  .div2 {
    min-width: unset;
    /* Remove a largura mínima em telas pequenas */
  }
}

.form-input-50 {
  flex: 1 1 calc(50% - 16px);
  /* Cada campo ocupa 50% do container, descontando o gap */
  min-width: 200px;
}

.form-input {
  width: 100%;
}

.div-flex {
  display: flex;
  gap: 15px;
}

button {
  width: 20%;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: -20px;
  display: flex;
  
}

.error-message-cpf{
  justify-content: flex-start;
  margin-bottom: 10px;
}

.error-message-password{
  justify-content: end;
}