<mat-card class="">
  <mat-card-header>
    <mat-card-title>Consultar vendas</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <br />

  <mat-card-content>
    <mat-form-field appearance="outline" class="sale-filter">
      <mat-label>Filtrar por situação</mat-label>
      <mat-select [formControl]="statusFilter" multiple>
        <mat-select-trigger>
          {{ getStatusFilterText() }}
        </mat-select-trigger>
        <mat-option *ngFor="let status of statusList" [value]="status">{{
          statusMap[status]
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-accordion
      class="example-headers-align"
      multi
      *ngIf="filteredSales.length > 0"
    >
      <mat-expansion-panel *ngFor="let sale of getPagedSales()">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Situação: {{ sale.status == "open" ? "aberta" : "fechada" }}
          </mat-panel-title>

          <mat-panel-description>
            Aberta por {{ sale.openedByEmployee.name }}
          </mat-panel-description>

          <mat-panel-description>
            Aberta em {{ sale.createdAt | date : "dd/MM/yyyy" }}
          </mat-panel-description>

          <mat-panel-description>
            Qtde itens: {{ sale.itensQuantity }}
          </mat-panel-description>

          <mat-panel-description>
            Total: {{ sale.total | currency : "BRL" : "symbol" : "1.2-2" }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <hr />
        <br />

        <h6>Produtos incluídos</h6>

        <table mat-table [dataSource]="sale.products" class="mat-elevation-z8">
          <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef>Código</th>
            <td mat-cell *matCellDef="let element">{{ element.code }}</td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Nome</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>

          <ng-container matColumnDef="unitPrice">
            <th mat-header-cell *matHeaderCellDef>Valor unitário</th>
            <td mat-cell *matCellDef="let element">{{ element.unitPrice }}</td>
          </ng-container>

          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef>Quantidade</th>
            <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
          </ng-container>

          <ng-container matColumnDef="totalPrice">
            <th mat-header-cell *matHeaderCellDef>Total</th>
            <td mat-cell *matCellDef="let element">{{ element.totalPrice }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <div class="m-t-10" *ngIf="sale.status == 'closed' && sale.paymentMethod">
          <p>Forma de pagamento: {{  getPaymentMethod(sale.paymentMethod!)  }}</p>

          <div *ngIf="sale.paymentMethod == 'client-account'">
            <p >Cliente: {{sale.clientId?.name}} </p>
            <p>Parcelado em {{sale.installments}}x de {{sale.installmentValue}}</p>
          </div>
        </div>

        <div class="div-button m-t-10">
          <button
            *ngIf="sale.status == 'open'"
            mat-flat-button
            (click)="navigateToCloseSale(sale._id!)"
          >
            Fechar venda
          </button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-paginator class="m-t-10"
      [length]="filteredSales.length"
      [pageSize]="pageSize"
      [pageSizeOptions]="[10, 20]"
      (page)="onPageChange($event)"
    >
    </mat-paginator>
  </mat-card-content>
</mat-card>
