<mat-grid-tile [colspan]="1" [rowspan]="4">
    <div class="full-width-button sale-list">
      <h6>Vendas abartas</h6>
      <table class="sales-table">
        <thead>
          <tr>
            <th>Código</th>
            <th>Total</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>001</td>
            <td>R$ 150,00</td>
            <td>Aberta</td>
          </tr>
          <tr>
            <td>002</td>
            <td>R$ 200,00</td>
            <td>Aberta</td>
          </tr>
          <tr>
            <td>002</td>
            <td>R$ 200,00</td>
            <td>Aberta</td>
          </tr>
          <tr>
            <td>002</td>
            <td>R$ 200,00</td>
            <td>Aberta</td>
          </tr>
          <tr>
            <td>002</td>
            <td>R$ 200,00</td>
            <td>Fechada</td>
          </tr>
          <tr>
            <td>002</td>
            <td>R$ 200,00</td>
            <td>Fechada</td>
          </tr>
        </tbody>
      </table>
      <button mat-button>Ver todas as vendas</button>
    </div>
  </mat-grid-tile>
