.mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
   flex-basis: auto !important; /* ou use o valor desejado */
  margin-right: 0 !important;
}

.sale-filter{
  width: 50%;
}

/* mat-expansion-panel{
  margin-bottom: 10px !important;
} */