/* Paleta de cores */
// :root {
//   --primary-color: #1976d2;
//   --secondary-color: #ff4081;
//   --background-color: #f9f9f9;
//   --text-color: #333;
// }

/* Estilo global */
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  color: rgb(3, 18, 32);
  max-height: 100%;
}

/* Estilo para títulos */
h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
  margin: 0 0 10px 0;
}

/* Estilo para botões */
button, .mat-button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-transform: none;
  transition: background-color 0.3s;
}

button:hover, .mat-button:hover {
  background-color: var(--secondary-color);
}

/* Estilo para links */
a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

mat-card {
  margin: 15px;
}

/* Estilo para contêineres */
// .container {
//   padding: 20px;
//   background-color: white;
//   border-radius: 10px;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
//   margin-bottom: 20px;
// }

// /* Estilo para tabelas */
// table {
//   width: 100%;
//   border-collapse: collapse;
//   margin-bottom: 15px;
// }

// table th, table td {
//   padding: 10px;
//   border-bottom: 1px solid #ddd;
// }

// table th {
//   background-color: var(--primary-color);
//   color: white;
// }

// table tr:hover {
//   background-color: #f1f1f1;
// }