/* Paleta de cores */
// :root {
//   --primary-color: #1976d2;
//   --secondary-color: #ff4081;
//   --background-color: #f9f9f9;
//   --text-color: #333;
// }

/* Estilo global */
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  color: rgb(3, 18, 32);
}

html, body {
  height: 100%;
  margin: 0;
  overflow-y: auto;
}

/* Estilo para títulos */
h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
  margin: 0 0 10px 0;
}

/* Estilo para botões */
button, .mat-button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-transform: none;
  transition: background-color 0.3s;
}

button:hover, .mat-button:hover {
  background-color: var(--secondary-color);
}

/* Estilo para links */
a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

mat-card {
  margin: 10px;
}

.disabled{
  display: none;
}

.m-t-3{
  margin-top: 30px;
}

.m-b-10{
  margin-bottom: 10px !important;
}

.m-t-10{
  margin-top: 10px !important;
}