/* Paleta de cores */
// :root {
//   --primary-color: #1976d2;
//   --secondary-color: #ff4081;
//   --background-color: #f9f9f9;
//   --text-color: #333;
// }

/* Estilo global */
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  color: rgb(3, 18, 32);
}

html, body {
  height: 100%;
  margin: 0;
  overflow-y: auto;
}

/* Estilo para títulos */
h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
  margin: 0 0 10px 0;
}

/* Estilo para botões */
button, .mat-button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-transform: none;
  transition: background-color 0.3s;
}

button:hover, .mat-button:hover {
  background-color: var(--secondary-color);
}

/* Estilo para links */
a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

mat-card {
  margin: 10px;
  padding: 10px;
}

.disabled{
  display: none !important;
}

.m-t-3{
  margin-top: 30px;
}

.m-b-10{
  margin-bottom: 10px !important;
}

.m-t-10{
  margin-top: 10px !important;
}

.m-r-10{
  margin-right: 10px !important;
}

.div-button {
  display: flex;
  justify-content: end;
  align-items: end;
}

.search-input {
  width: 50%;
}

.font-bold{
  font-weight: 500;
}




.loading-placeholder {
  background: #f6f7f8;
  background-image: linear-gradient(to right, #f6f7f8 0%, #e0e0e0 20%, #f6f7f8 40%, #f6f7f8 100%);
  background-repeat: no-repeat;
  background-size: 1000px 100%;
  display: inline-block;
  position: relative;
  // animation: shimmer 1.5s infinite linear;
  animation: pulse 1.5s infinite ease-in-out;
  border-radius: 4px;
  color: transparent;
  z-index: 1;
}

/* animação shimmer */
@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

@keyframes pulse {
  0% { opacity: 0.7; }
  50% { opacity: 1; }
  100% { opacity: 0.7; }
}