<mat-grid-list
  class="spaced-grid-list"
  cols="5"
  rowHeight="100px"
  gutterSize="5px"
>
  <mat-grid-tile *ngFor="let tile of buttonTiles" [colspan]="1" [rowspan]="1">
    <button
      mat-button
      class="full-width-button menu-buttons"
      [routerLink]="tile.link"
    >
      <div class="item">
        <mat-icon class="icon-button">{{ tile.icon }}</mat-icon>
        <span>{{ tile.text }}</span>
      </div>
    </button>
  </mat-grid-tile>
</mat-grid-list>

<div class="close-sale-container">
  <div class="sale-content">
    <div class="sale-products-summary">
      <div class="sale-products">
        <h6>Vendas abertas</h6>
        <table
          mat-table
          [dataSource]="salesList"
          class="mat-elevation-z8 sales-table"
        >
          <ng-container matColumnDef="code">
            <th class="th-text-align" mat-header-cell *matHeaderCellDef>
              Código
            </th>
            <td mat-cell *matCellDef="let sale">
              {{ sale.code }}
            </td>
          </ng-container>

          <ng-container matColumnDef="employeeName">
            <th class="th-text-align" mat-header-cell *matHeaderCellDef>
              Venda aberta por:
            </th>
            <td mat-cell *matCellDef="let sale">
              {{ sale.openedByEmployee.name }}
            </td>
          </ng-container>

          <ng-container matColumnDef="quantity">
            <th class="th-text-align" mat-header-cell *matHeaderCellDef>
              Quantidade de itens
            </th>
            <td mat-cell *matCellDef="let sale">{{ sale.itensQuantity }}</td>
          </ng-container>

          <ng-container matColumnDef="total">
            <th class="th-text-align" mat-header-cell *matHeaderCellDef>
              Total
            </th>
            <td mat-cell *matCellDef="let sale">
              {{ sale.total | currency : "BRL" : "symbol" : "1.2-2" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="arrow">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let sale">
              <button
                title="Fechar venda"
                *ngIf="sale.status == 'open'"
                mat-raised-button
                (click)="navigateToCloseSale(sale._id!)"
              >
                <mat-icon class="icon">arrow_forward</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
      <button
        mat-raised-button
        color="primary"
        class="confirm-button"
        (click)="navigateToSaleList()"
      >
        Ver todas as vendas
      </button>
    </div>

    <div class="sale-details">
      <h6>Contas a pagar</h6>

      <mat-accordion *ngFor="let invoice of invoiceList">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ invoice.supplierId ? invoice.supplierId.name : invoice.description }}
            </mat-panel-title>
            <mat-panel-description>
              {{ invoice.totalAmount | currency : "BRL" : "symbol" : "1.2-2" }} - {{ invoice.dueDate | date : "dd/MM/yyyy" }}
            </mat-panel-description>

           
          </mat-expansion-panel-header>

          <div class="client-summary">
            <div >
              <p *ngIf="invoice.description">
                Descrição: <b>{{ invoice.description }}</b>
              </p>            
              <p *ngIf="invoice.supplierId">
                Fornecedor:
                <b>{{ invoice.supplierId ? invoice.supplierId.name : "" }}</b>
              </p>

              <div *ngIf="invoice.installments?.length">
                <p>Quantidade de parcelas: {{ invoice.installments?.length }}</p>
  
                <div>
                  Valor e vencimento de cada parcela:
                  <p *ngFor="let installment of invoice.installments">
                    <b> {{ installment ? (installment.amount | currency : "BRL" : "symbol" : "1.2-2") : '' }} </b> -
                    {{ installment ? (installment.dueDate | date : "dd/MM/yyyy") : '' }}
                  </p>
                </div>
              </div>

              <p *ngIf="invoice.notes">
                Notas: {{ invoice.notes }}
              </p>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <button mat-raised-button color="primary" (click)="navigateToInvoiceList()">Ver todas as contas</button>
    </div>
  </div>
</div>
