<mat-grid-list class="spaced-grid-list" cols="5" rowHeight="100px" gutterSize="5px">
  <mat-grid-tile *ngFor="let tile of buttonTiles" [colspan]="1" [rowspan]="1">
    <button mat-button class="full-width-button menu-buttons" [routerLink]="tile.link" (click)="fecharCaixa(tile.text)">
      <div class="item">
        <mat-icon class="icon-button">{{ tile.icon }}</mat-icon>
        <span>{{ tile.text }}</span>
      </div>
    </button>
  </mat-grid-tile>
</mat-grid-list>

<div class="close-sale-container">
  <div class="sale-content">
    <div class="sale-products-summary">
      <div class="sale-products">
        <h6>Vendas abertas</h6>
        <table mat-table [dataSource]="salesList" class="mat-elevation-z8 sales-table">
          <ng-container matColumnDef="code">
            <th class="th-text-align" mat-header-cell *matHeaderCellDef>
              Código
            </th>
            <td mat-cell *matCellDef="let sale">
              {{ sale.code }}
            </td>
          </ng-container>

          <ng-container matColumnDef="employeeName">
            <th class="th-text-align" mat-header-cell *matHeaderCellDef>
              Vendedor
            </th>
            <td mat-cell *matCellDef="let sale">
              {{ sale.openedByEmployee.name ? sale.openedByEmployee.name : "Não encontrado" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="quantity">
            <th class="th-text-align" mat-header-cell *matHeaderCellDef>
              Quantidade de itens
            </th>
            <td mat-cell *matCellDef="let sale">{{ sale.itensQuantity }}</td>
          </ng-container>

          <ng-container matColumnDef="total">
            <th class="th-text-align" mat-header-cell *matHeaderCellDef>
              Total
            </th>
            <td mat-cell *matCellDef="let sale">
              {{ sale.total | currency : "BRL" : "symbol" : "1.2-2" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="arrow">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let sale">
              <button title="Fechar venda" *ngIf="sale.status == 'open'" mat-raised-button
                (click)="navigateToCloseSale(sale._id!)">
                Fechar
                <mat-icon class="">arrow_forward</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
      <button mat-raised-button color="primary" class="confirm-button" (click)="navigateToSaleList()">
        <mat-icon class="icon-button">view_list</mat-icon>
        Ver todas
      </button>
    </div>

    <div class="sale-details">
      <h6>Contas a pagar</h6>

      <mat-accordion *ngFor="let invoice of invoiceList">
        <mat-expansion-panel *ngIf="invoice.status == 'pending' || invoice.status == 'overdue'">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon *ngIf="invoice.status == 'pending'" class="icon-pending"> pending_actions </mat-icon>
              <mat-icon *ngIf="invoice.status == 'overdue'" class="icon-overdue" color="warn">report_problem</mat-icon>

              {{
              invoice.supplierId
              ? invoice.supplierId.name
              : invoice.description
              }}
            </mat-panel-title>
            <mat-panel-description>
              {{
              invoice.totalAmount | currency : "BRL" : "symbol" : "1.2-2"
              }}

            </mat-panel-description>

            <mat-panel-description>
              {{ invoice.dueDate | date : "dd/MM/yyyy" }}
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div class="client-summary">
            <div>
              <p *ngIf="invoice.description">
                Descrição: <span class="font-bold">{{ invoice.description }}</span>
              </p>
              <p *ngIf="invoice.supplierId">
                Fornecedor:
                <span class="font-bold">{{ invoice.supplierId ? invoice.supplierId.name : "" }}</span>
              </p>
              <p *ngIf="invoice.notes">Notas: {{ invoice.notes }}</p>

              <div *ngIf="invoice.installments?.length">
                <p>
                  Quantidade de parcelas: <span class="font-bold">{{ invoice.installments?.length }}</span>
                </p>
                Parcelas:

                <div class="installments-list">
                  <div *ngFor="let installment of invoice.installments" class="installment-item">
                    <div class="installment-detail">
                      <div class="flex-div">

                        <mat-icon *ngIf="installment.status == 'paid'" class="icon icon-paid"> done </mat-icon>
                        <mat-icon *ngIf="installment.status == 'pending'" class="icon icon-pending"> pending_actions
                        </mat-icon>
                        <span>{{ installment ? (installment.amount | currency : "BRL" : "symbol" : "1.2-2") : "" }} -
                          <span class="font-bold"> {{ installment ? ( installment.dueDate | date : "dd/MM/yyyy") : "" }}
                          </span>
                        </span>
                        <button *ngIf="installment.status == 'pending'" mat-raised-button
                          class="icon-button m-l-20 m-r-10" title="Marcar como pago" type="button"
                          (click)="maskInstallmentAsPaid(invoice, installment)">
                          <mat-icon class="icon"> done </mat-icon>
                        </button>

                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="div-button">
                <button *ngIf="invoice.installments?.length == 0" mat-raised-button class="icon-button m-r-10"
                  title="Marcar como pago" type="button" (click)="maskAsPaid(invoice)">
                  <mat-icon class="icon"> done </mat-icon>
                </button>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <div class="div-board-buttons m-t-10">
        <button class="board-button" mat-raised-button color="primary" (click)="navigateToInvoiceRegister()">
          <mat-icon class="icon-button">add_circle</mat-icon>
          Adicionar nova
        </button>

        <button class="board-button" mat-raised-button color="primary" (click)="navigateToInvoiceList()">
          <mat-icon class="icon-button">view_list</mat-icon>
          Ver todas
        </button>
      </div>
    </div>
  </div>
</div>