<mat-card class="product-form-register">
  <mat-card-header>
    <mat-card-title>Cadastro de duplicata / conta</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="m-t-3" [formGroup]="invoiceForm" (ngSubmit)="onSubmit()">
      <div class="div1">

        <mat-form-field appearance="outline" class="product-form-input">
          <mat-label>Descrição</mat-label>
          <input matInput placeholder="Digite a descrição da duplicata" formControlName="description"
            name="description" />
        </mat-form-field>

        <div class="div-flex">
          <mat-form-field appearance="outline" class="product-form-input">
            <mat-label>Valor total a pagar</mat-label>
            <input
              matInput
              placeholder="Ex: 1299,90"
              formControlName="totalAmount"
              name="totalAmount"
              required
              mask="separator.2"
              thousandSeparator="."
              decimalMarker=","
            />
            <!-- <input matInput placeholder="Digite o total a pagar" formControlName="totalAmount" name="totalAmount"
              required /> -->
          </mat-form-field>

          <mat-form-field appearance="outline" class="product-form-input">
            <mat-label>Parcelas</mat-label>
            <mat-select [formControl]="installmentControl" (valueChange)="
                onChangeInstallmentControl();">
              <mat-option *ngFor="let installment of installmentList" [value]="installment">{{ installment
                }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="div-flex">
          <mat-form-field appearance="outline" class="product-form-input">
            <mat-label>Data de emissão</mat-label>
            <input matInput formControlName="issueDate" placeholder="Digite a data de emissão" name="issueDate" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="product-form-input">
            <mat-label>Data de vencimento</mat-label>
            <input matInput formControlName="dueDate" placeholder="Digite a data de vencimento" name="dueDate" />
          </mat-form-field>
        </div>


      </div>

      <div class="div2">

        <mat-form-field appearance="outline" class="product-form-input">
          <mat-label>Fornecedor</mat-label>
          <mat-select [formControl]="supplierControl">
            <mat-option placeholder="Selecione o fornecedor" *ngFor="let supplier of supplierList"
              [value]="supplier._id">{{ supplier.name }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="product-form-input">
          <mat-label>Anotações</mat-label>
          <input matInput formControlName="notes" placeholder="Digite as notes" name="dueDate" />
        </mat-form-field>

        <mat-form-field class="product-form-input" appearance="fill">
          <mat-label>Status</mat-label>
          <mat-select [formControl]="statusControl">
            <mat-option placeholder="Selecione a categoria" *ngFor="let status of statusList" [value]="status.value">{{
              status.label }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div *ngIf="installmentControl.value && +installmentControl.value > 1 && totalAmount?.value != 0"
        class="installment-summary">
        <h3>Resumo das Parcelas</h3>
        <table mat-table [dataSource]="installments?.value" class="mat-elevation-z8">
          <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell *matCellDef="let installment; let i = index">{{ i + 1 }}</td>
          </ng-container>

          <ng-container matColumnDef="dueDate">
            <th mat-header-cell *matHeaderCellDef>Data de Vencimento</th>
            <td mat-cell *matCellDef="let installment">{{ installment.dueDate | date: 'dd/MM/yyyy' }}</td>
          </ng-container>

          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef>Valor</th>
            <td mat-cell *matCellDef="let installment">{{ installment.amount | currency: 'BRL' }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="['index', 'dueDate', 'amount']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['index', 'dueDate', 'amount'];"></tr>
        </table>
      </div>

      <div class="product-div-button">
        <button mat-flat-button color="primary" type="submit">Salvar</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>